<script src="scripts/vue/vue.min.js"></script>
<style>
    text {
        font-family: Helvetica Neue, Arial, sans-serif;
        font-size: 10px;
        fill: #000;
    }

    #svgCanvas{
      background-color:#999;
    }    

    .draggable {
      cursor: move;
    }

    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
    }

    @keyframes pulse {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    .plugin {
      fill:rgba(255,255,255,.25);
      stroke:black;
      stroke-width:.5;
    }

    .plugin .animated{
      animation: pulse 1s infinite;
      /* transform-origin: center center; */
    }

  
    .connector-line {
      fill:lightgreen;
      stroke:black;
      stroke-width:.5; 
    }

    @keyframes circle-zoom-in{
      from {
        r: 3;
      }

      to {
        r: 5;
      }
    }
    @keyframes circle-zoom-out{
      from {
        r: 5;
      }

      to {
        r: 3;
      }
    }

    .plugin-connector {
      fill:lightgreen;
      stroke:black;
      stroke-width:.5;
      animation: circle-zoom-out .25s forwards;
    }

    .plugin-connector:hover {
      fill:lightgreen;
      stroke:black;
      stroke-width:.5;
      cursor:pointer;
      animation: circle-zoom-in .25s forwards;
    }

    .plugin-connector-in {
    }
    .plugin-connector-out {
    }
</style>

<div id="app">
    <button @click="addPlugin">add</button>
    <svg width="100%" height="100%" id="svgCanvas" @mousemove="movePointer">
        <plugin v-for="plugin in appData.plugins" :data="plugin"></plugin>
        <g v-for="(c, i) in appData.connections">
          <line class="connector-line" 
            :x1="c.out.plugin.x+c.out.plugin.w+(appData.re)*2+7" 
            :y1="c.out.plugin.y+(10*(c.out.port.order))+6" 
            :x2="c.in.plugin.x+(appData.re)" 
            :y2="c.in.plugin.y+(10*(c.in.port.order))+6"></line>
        </g>
        <template v-if="appData.selectedPlugin">
          <line class="connector-line" 
            :x1="appData.selectedPlugin.x+appData.selectedPlugin.w+(appData.re)*2+7" 
            :y1="appData.selectedPlugin.y+(10*(appData.selectedPort.order))+6" 
            :x2="appData.pointer.x-8" 
            :y2="appData.pointer.y-30">
          </line>
        </template>
    </svg>
</div>


<script type="text/x-template" id="plugin-template">
  <svg class="plugin" v-bind="pluginPos"
    @mousedown.prevent="startMove" 
    @touchstart.prevent="startMove">
    <g>
        <rect :x="xs" :y="1" :rx="5" :ry="5" :width="data.w" :height="data.h"/>
        <line :x1="xs" :y1="10" :x2="xe" :y2="10"></line>
        <text x="30" y="10">Component</text>
        <g v-for="(port, i) in data.ports">
          <line :x1="xs" :y1="(i+1)*10+10" :x2="xe" :y2="(i+1)*10+10"></line>
          <text :x="xs+1" :y="(i+1)*10+10">Input {{(i+1)}}</text>
          <text :x="70" :y="(i+1)*10+10">Output {{(i+1)}}</text>
          <circle class="plugin-connector plugin-connector-in" :data-pluginid="data.id" :data-portid="port.id" :cx="appData.re" :cy="10*(i+1)+6" :r="appData.rs" />
          <circle class="plugin-connector plugin-connector-out" :data-pluginid="data.id" :data-portid="port.id" :cx="xs+data.w+appData.re+1" :cy="10*(i+1)+6" :r="appData.rs" />
        </g>
    </g>
  </svg>
</script>

<script>
  var appData = {
    plugins: [
      { id:1, x: 3, y: 3, w:100, h:50, ports: [{id:1, order:1, in:true, out:true, selected: false}]},
      { id:2, x: 150, y:3, w:100, h:50, ports: [{id:1, order:1, in:true, out:true, selected: false},{id:2, order:2, in:true, out:false, selected: false}]}
    ],
    connections: [],
    selected: null,
    moving: false,
    touch: false,
    events: {},
    elem: {},
    transform: {},
    point: {x:0,y:0},
    pointer: {x:0,y:0},
    offset: {x:0,y:0},
    rs: 3,
    re: 5,
    pluginId: null,
    portId: null,
    selectedPlugin: null,
    selectedPort: null
  };

Vue.component('plugin', {
  props: ['data'],
  template: '#plugin-template',
  created: function(){
    this.data.w = 100;
    this.data.h = 20+(this.data.ports.length*10);
  },
  mounted: function(){
  },
  updated: function(){
  },
  methods: {
    startMove(evt) {
      if(evt.target.classList.contains("plugin-connector-in")){
        return;
      }
      else if(evt.target.classList.contains("plugin-connector-out")){
        appData.pluginId = evt.target.getAttribute("data-pluginid");
        appData.portId = evt.target.getAttribute("data-portid");
        var port = findPort(this.data, appData.portId);
        appData.selectedPlugin = this.data;
        appData.selectedPort =  port;
        port.selected = true;
        appData.selected = "plugin-connector-out";
        this.startMoveConnector(evt);
      }
      else{
        appData.selected = "plugin";
        this.startMovePlugin(evt);
      }
    },
//MOUSE
    getPos: function (evt) {
      return appData.touch ? this.getTouchPos(evt) : this.getMousePos(evt);
    },
    getMousePos: function (mouseEvent) {
      appData.point.x = (mouseEvent.clientX);
      appData.point.y = (mouseEvent.clientY);
    },
    getTouchPos: function (touchEvent) {
      appData.point.x = (touchEvent.touches[0].clientX);
      appData.point.y = (touchEvent.touches[0].clientY);
    },
//PLUGIN
    startMovePlugin(evt) {
			appData.touch = (evt.type === "touchstart");
			if (!appData.touch && evt.button !== 0) return;
			appData.events = appData.touch ? { move: "touchmove", stop: "touchend"} : { move: "mousemove", stop: "mouseup"};
      

      appData.transform = appData.elem.getScreenCTM().inverse()
			
      this.getPos(evt)

      var CTM = this.$el.getScreenCTM();
      appData.offset = {x: (evt.clientX - CTM.e) , y: (evt.clientY - CTM.f)}

      appData.moving = true
			requestAnimationFrame(this.updatePlugin)
      this.movePlugin(evt)
      
			appData.elem.addEventListener(appData.events.move, this.movePlugin)
			appData.elem.addEventListener(appData.events.stop, this.stopPlugin)
    },
    updatePlugin: function() {
      if(!appData.moving)return;

      requestAnimationFrame(this.updatePlugin)
      
      var newPt = appData.point.matrixTransform(appData.transform)
      this.data.x = newPt.x
      this.data.y = newPt.y
    },
    movePlugin: function (evt){
      if(!appData.moving)return;
      
      this.getPos(evt)

      appData.point.x -= appData.offset.x
      appData.point.y -= appData.offset.y
    },
    stopPlugin: function(evt) {
      appData.moving = false;
      appData.selected = null;
      appData.elem.removeEventListener(appData.events.move, this.movePlugin)
      appData.elem.removeEventListener(appData.events.stop, this.stopPlugin)
    },
//CONNECTOR
    startMoveConnector(evt) {
      appData.touch = (evt.type === "touchstart");
      if (!appData.touch && evt.button !== 0) return;
      appData.events = appData.touch ? { move: "touchmove", stop: "touchend"} : { move: "mousemove", stop: "mouseup"};
      
      appData.moving = true
      requestAnimationFrame(this.updateConnector)
      this.moveConnector(evt)

      appData.elem.addEventListener(appData.events.move, this.moveConnector)
      appData.elem.addEventListener(appData.events.stop, this.stopConnector)
    },
    updateConnector: function() {
    },
    moveConnector: function (evt){
    },
    stopConnector: function(evt) {
      var port = findPort(this.data, appData.portId);
      port.selected = false;

      if(evt.target.classList.contains("plugin-connector-in")){
        var pluginIdIn = evt.target.getAttribute("data-pluginid");
        var portIdIn = evt.target.getAttribute("data-portid");
        addConnection(appData.pluginId, appData.portId, pluginIdIn, portIdIn);
      }

      appData.moving = false;
      appData.selected = null;
      appData.pluginId = null;
      appData.portId   = null;
      appData.selectedPlugin = null;
      appData.selectedPort =  null;
      appData.elem.removeEventListener(appData.events.move, this.moveConnector)
      appData.elem.removeEventListener(appData.events.stop, this.stopConnector)
    }
  },
  computed: {
    pluginPos: function(){
      return {
        x: this.data.x,
        y: this.data.y
      }
    },
    d(){return appData.re*2},
    xs(){return this.d+1},
    xe(){return this.xs+this.data.w}
  }
});

var vm = new Vue({
  el: '#app',
  data:{
    appData:appData
  },
  created: function(){
  },
  mounted: function(){
    this.appData.elem = document.querySelector("#svgCanvas");
    this.appData.point = this.appData.elem.createSVGPoint();
  },
  methods: {
    addPlugin: function (e) {
      e.preventDefault();
      var max = this.appData.plugins.reduce(function(a, b) { return ( a.id > b.id ? a : b ); }); 
      this.appData.plugins.push({ id: max.id+1, x: 3, y: 3, w:100, h:50, ports: [{id:1, order:1, in:true, out:true, selected: false}]});
    },
    removePlugin: function (stat) {
      this.appData.plugins.splice(this.appData.plugins.indexOf(stat), 1);
    },
    movePointer: function(evt){
      this.getPos(evt);

      this.appData.pointer.x = evt.clientX;
      this.appData.pointer.y = evt.clientY;
    },
    getPos: function (evt) {
      return this.appData.touch ? this.getTouchPos(evt) : this.getMousePos(evt);
    },
    getMousePos: function (mouseEvent) {
      this.appData.point.x = (mouseEvent.clientX);
      this.appData.point.y = (mouseEvent.clientY);
    },
    getTouchPos: function (touchEvent) {
      this.appData.point.x = (touchEvent.touches[0].clientX);
      this.appData.point.y = (touchEvent.touches[0].clientY);
    }
  }
});

function addConnection(pluginIdOut, portIdOut, pluginIdIn, portIdIn){
  var pluginOut = findPlugin(pluginIdOut);
  var portOut = findPort(pluginOut, portIdOut);
  var pluginIn = findPlugin(pluginIdIn);
  var portIn = findPort(pluginIn, portIdIn);
  appData.connections.push({out:{plugin: pluginOut,  port: portOut},in:{plugin: pluginIn, port: portIn}});
}
function findPlugin(id){
  return appData.plugins.find(function(plugin){return plugin.id == id;})
}
function findPort(plugin, id){
  return plugin.ports.find(function(port){return port.id == id;})
}
</script>